extends layout 

block content
  - if (additionalInfo === 'deleted')
    .alert.alert-danger The event was deleted
  - else if (additionalInfo === 'joined')
    .alert.alert-primary You successfully joined the event
  - else if (additionalInfo === 'created')
    .alert.alert-primary The new event was created
  - else if (additionalInfo === 'updated')
    .alert.alert-warning The event was updated
  h1.text-center Upcoming events
  ul.mt-4.events-grid.p-0
    each event in events
      .card.text-secondary
        .card-body.d-flex.flex-column
          h5.card-title.text-dark=event.title
          p.card-text=event.description
          span.mt-auto.align-self-end=new Date(event.date).toLocaleString()
          a.btn.btn-primary.mt-3(href=`/events/${event.id}`) Read more
