extends layout

block content
    h1 Welcome to {/ExpresEvents\} app! 🎉
    .mt-4.lead.col-6
        p This is a platform where users can discover and explore upcoming events in their area. From concerts and workshops to sports tournaments and community gatherings, the app provides a centralized hub for all kinds of exciting events.
        p As a user, you can browse through a variety of events and view event details.
        p Within the app, admins can login and manage all events, and users can view the upcoming and passed events. In addition, users can search for events to ease the experience with the website.
        p Whether you're looking for your next adventure or planning your next big event, we've got you covered. Join our community today and let the fun begin!

    footer.mt-5.fs-2
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service