extends layout

block content
    h1 Yay, you are watching the index page
    footer
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service