extends layout 

block content 
  .col-6.m-auto
    .d-flex.flex-column.text-dark.bg-light.p-4.rounded.mt-3
      h4.text-danger You do not have rights to visit this page
      .d-flex.gap-4.mt-4
        a.nav-link.p-0.pb-2.d-inline.text-primary(href="/") Home page
        a.nav-link.p-0.pb-2.d-inline.text-primary(href="/events") Upcoming events page
